<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="ApiKey" value="RGAPI-7A0386D6-5876-4A17-9685-FF967CE5EF2C"/>
      <add key="Summoner1Id" value="56348199"/>
      <add key="Summoner2Id" value="56680615"/>
      <add key="Summoner3Id" value="28382520"/>
      <add key="Summoner4Id" value="27670545"/>
      <add key="Summoner5Id" value="43679752"/>
      <add key="Summoner1Name" value="Yariet"/>
      <add key="Summoner2Name" value="FruitNerd"/>
      <add key="Summoner3Name" value="Finfen"/>
      <add key="Summoner4Name" value="Venquetecuro"/>
      <add key="Summoner5Name" value="That Lucian Guy"/>
      <add key="Region" value="euw"/>
    </appSettings>
</configuration>